/* malinacss:C:/Users/yulmizar/Desktop/nodejs/basic-spaserver/src/App.malina.css */
img.mea57xe {
  display: block;
  width: 200px;
  margin: 60px auto;
  transition: 0.2s;
}
h1.mea57xe,
div.mea57xe {
  text-align: center;
  min-width: 300px;
  margin: 40px auto;
}
input.mea57xe {
  font-size: 24px;
}
