/* malinacss:C:/Users/yulmizar/Documents/nodejs/Example/malinajs-template/src/App.malina.css */
img.m9i9rrv {
  display: block;
  width: 200px;
  margin: 60px auto;
  transition: 0.2s;
}
h1.m9i9rrv,
div.m9i9rrv {
  text-align: center;
  min-width: 300px;
  margin: 40px auto;
}
input.m9i9rrv {
  font-size: 24px;
}
